* {
  margin: 0;
  padding: 0;
}


/* Layout */
.container {
  max-width: 1600px;
  margin: 0 auto;
}
/* Layout */
.container-card{
  max-width: 500px;
  margin: 0 auto;
}
/* Layout */
/* card */
.card-communaute{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 47px;
  padding-bottom: 49px;
}
.card-communaute-bg{
  border-radius: 10px;
  background: var(--light);
  box-shadow: 2px 7px 10px 10px rgba(43, 123, 211, 0.06);
}
/* card */